##
# VSCcode
##
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

##
# Project specific
##
out
out/*
**/out/*
**/node_modules/
__pycache__/
.DS_Store
